/* ------------------------------------------------------------
   Global Layout Settings
   ------------------------------------------------------------ */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ------------------------------------------------------------
   Theme Chooser
   ------------------------------------------------------------ */

.theme-chooser {
	background: $sh-medium;
	overflow: hidden;
	@include p( 16 );
	position: relative;
	z-index: 100;
	p {
		float: left;
		@include ps( right, 16 );
	}
	form {
		float: left;
	}
}

/* ------------------------------------------------------------
   Site Container
   ------------------------------------------------------------ */

.site-container {
	background: url('images/bg_brillant.png');
	
	@media (-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {
		background: url('images/bg_brillant@2x.png');
		background-size: 3px 3px;
	}

}

.wrap {
	@include wrap;
}

/* ------------------------------------------------------------
   Pre-Header
   ------------------------------------------------------------ */

.pre-header {
	background: $sh-light;
	border-bottom: white 1px solid;
	overflow: hidden;
	position: relative;
	z-index: 100;
	.wrap {
		@include lines-s;
	}
	.pre-header-left {
		float: left;
		overflow: hidden;
		@include p( 8 );
		width: 50%;
		h2 {
			color: $sh-dark;
			margin: 0;
		}
	}
	.pre-header-right {
		float: right;
		overflow: hidden;
		@include p( 8 );
		text-align: right;
		width: 50%;
		.call,
		.locations {
			color: $color1;
			display: inline-block;
			@include font( 24 );
			font-weight: 700;
			@include ps( right, $dp / 2 );
			text-align: right;
		}
		.social-media-icons {
			display: inline;
			float: right;
			overflow: hidden;
			a {
				text-decoration: none;
			}
		}
		.social-media-icon {
			float: left;
			@include m( 0 );
			padding: 0 0 0 8px;
		}
	}

	@include respond( full ) {
		.pre-header-right {
			.call,
			.locations {
				@include font( 18 );
				@include ms( top, $dm / 4 );
			}
		}
	}

	@include respond( large ) {
		.pre-header-left {
			float: none;
			text-align: center;
			width: 100%;
		}
		.pre-header-right {
			float: none;
			width: 100%;
			.call,
			.locations {
				display: block;
				@include ps( bottom, 8 );
				text-align: center;
				&:after {
					content: "";
				}
			}
			.social-media-icons {
				display: block;
				float: none;
				text-align: center;
			}
			.social-media-icon {
				float: none;
				@include p( 0 );
			}
		}
	}

}

.home .pre-header {
	background: transparentize( white, 0.2 );
}

/* ------------------------------------------------------------
   Header
   ------------------------------------------------------------ */

.site-header {
	background: $sh-light;
	border-bottom: white 3px solid;
	position: relative;
	z-index: 100;
	.wrap {
		@include lines-s;
	}

	@include respond( full ) {
		.wrap {
			border-left: 0;
			border-right: 0;
		}
	}

}

.home .site-header {
	background: transparentize( white, 0.2 );
}

.title-area {
	float: left;
	width: $title-width;
	.site-title {
		@include m( $logo-margin-tb, $logo-margin-lr );
		text-indent: -9999px;
	}
	.site-title a {
		background: $logo-url no-repeat;
		background-size: $logo-width auto;
		
		@media (-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi) {
			background: $logo-url-2x no-repeat;
			background-size: $logo-width auto;
		}

		display: block;
		height: $logo-height;
		margin: 0;
	}
	.site-description {
		display: none;
		text-indent: -9999px;
	}

	@include respond( mobile ) {
		width: title-width( $logo-width * 0.75, $logo-margin-lr, 0.25 );
		.site-title {
			@include m( $dm * 0.125 );
		}
		.site-title a {
			background-size: $logo-width * 0.75 auto;
			height: $logo-height * 0.75;
			width: $logo-width * 0.75;
		}
	}

}

.header-widget-area {
	.widget {
		float: right;
	}

	@include respond( large ) {
		.widget {
			width: 100%;
		}
	}

}

.menu-toggle {
	display: none;
	float: right;

	@include respond( large ) {
		display: block;
		@include p( header-height( 54, 1 ), $dm / 2 );
	}

	@include respond( mobile ) {
		@include p( 0 );
	}

}

/* ------------------------------------------------------------
   Content
   ------------------------------------------------------------ */

.site-inner {
	@include p( 32, 0 );
}

.content-sidebar .content,
.sidebar-content .content {
	float: left;
	width: 66.66666666%;

	@include respond( large ) {
		float: none;
		width: 100%;
	}

}

.full-width-content .content {
	width: 100%;
}

.entry {
	background: white;
	@include p( 16 );
	p,
	ul,
	li {
		line-height: 1.5;
		@include ms( bottom, $dm /2 );
	}
	ul {
		@include ms( bottom, $dm /2 );
	}
}

.entry .entry {
	background: none;
	padding: 0;
}

.loop {
	@include ms( bottom, 16 );
	@include ps( bottom, 16 );
}

.loop-entry {
	overflow: hidden;
}

/* ------------------------------------------------------------
   Comments
   ------------------------------------------------------------ */

.comment-respond label {
	display: block;
}

/* ------------------------------------------------------------
   Footer
   ------------------------------------------------------------ */

.footer-widgets {
	background: $sh-light;
	border-bottom: 1px white solid;
	border-top: 3px white solid;
	.wrap {
		@include lines-s;
	}
	.widget-area {
		float: left;
		@include p( $dp );
		width: 33.33333333%;
		&:last-child {
			margin-right: 0;
		}
		p {
			line-height: 1.5;
			@include ms( bottom, $dm /2 );
		}
	}

	@include respond( full ) {
		.wrap {
			border-left: 0;
			border-right: 0;
		}
	}

	@include respond( large ) {
		.widget-area {
			float: none;
			width: 100%;
		}
	}

	@include respond( mobile ) {
		.widget-area {
			@include p( $dp / 2 );
		}
	}

}

.site-footer {
	background: $sh-light;
	text-align: center;
	.wrap {
		@include lines-s;
		@include p( 16, 0 );
	}
	.icon-eho {
		width: 32px;
	}
	.creds p {
		@include ms( bottom, $dm );
		&.disclaimer {
			@include font( 12 );
		}
	}
	.creds p:last-of-type {
		margin: 0;
	}
	.gototop {
		@include ms( top, 16 );
	}
	.logo-office {
		@include p( 16, 0 );
	}

	@include respond( full ) {
		.wrap {
			border-left: 0;
			border-right: 0;
		}
	}

}

/* ------------------------------------------------------------
   Images
   ------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}