/* ------------------------------------------------------------
   Nav Primary
   ------------------------------------------------------------ */

.genesis-nav-menu {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		float: left;
		text-transform: uppercase;
	}
	a {
		border-left: white 1px solid;
		color: $color1;
		display: block;
		@include font-heading;
		@include p( header-height( 16 ), $dm / 2 );
		position: relative;
		text-decoration: none;
	}
	a:hover,
	.current-menu-item > a,
	.current-menu-ancestor > a {
		background: $color1;
		color: white;
	}

	@include respond( full ) {
		a {
			border: 0;
			@include font( 12 );
			@include p( header-height( 12 ), $dm / 2 );
		}
	}

	@include respond( large ) {
		display: none;
		li {
			width: 33.33333333%;
		}
	}

	@include respond( mobile ) {
		li {
			width: 100%;
		}
	}

}

/* ------------------------------------------------------------
   Nav Secondary
   ------------------------------------------------------------ */

.genesis-nav-menu {
	.sub-menu {
		float: left;
		left: -9999px;
		margin: 0;
		position: absolute;
		padding: 0;
		width: 192px;
		z-index: 99;
		li {
			width: 192px;
		}
	}
	li:hover > .sub-menu {
		background: transparentize( white, 0.2 );
		left: auto;
	}

	@include respond( large ) {
		.sub-menu {
			width: 25%;
			li {
				width: 100%;
			}
		}
		li:hover > .sub-menu {
			background: white;
		}
	}

	@include respond( mobile ) {
		.sub-menu {
			width: 100%;
		}
	}

}

/* ------------------------------------------------------------
   Nav - Entry Links
   ------------------------------------------------------------ */

.entry-links {
	overflow: hidden;
	@include p( $dp, 0 );
	.link-prev {
		float: left;
		width: 50%;
	}
	.link-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* ------------------------------------------------------------
   Pagination
   ------------------------------------------------------------ */

.pagination {
	clear: both;
}

/* ------------------------------------------------------------
   Nav - Legal Menu
   ------------------------------------------------------------ */

.legal-menu-container {
	display: inline-block;
	.legal-menu {
		list-style: none;
		@include p( 16, 0 );
		li {
			display: inline-block;
			@include p( 0, $dp / 4 )
		}
	}
}