/* ------------------------------------------------------------
   Testimonials
   ------------------------------------------------------------ */

#tbtestimonials-widget {
	list-style: none;
	margin: 0;
	padding: 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* ------------------------------------------------------------
   Mortgage Calculator
   ------------------------------------------------------------ */

div.csSBWidget {
	background: none !important;
	border: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
    margin: 0 auto !important;
}

div.csSBWidget div.csHeading {
	display: none;
}

div.csSBWidget div.csContent {
	padding: 0 !important;
}

div.csSBWidget table td:last-child {
	text-align: center !important;
}

div.csSBWidget a.csSBCalculateButton {
	@include button( sm );
	float: none !important;
	@include p( 8, 16 );
	text-align: center;
}

div.csSBWidget span {
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

.csWidget .ui-button-text-only .ui-button-text {
	padding: 0 !important;
}

/* ------------------------------------------------------------
   Easy Responsive Tabs to Accordion
   ------------------------------------------------------------ */

.resp-tabs-container {
    margin-bottom: 0 !important;
}

.resp-tab-item {
	background: white;
	h2 {
		padding: 16px 16px 0 16px;
	}
	p {
		padding: 0 16px 16px;
	}

	@include respond( full ) {
		height: 188px;
	}
	
}

.resp-tab-active,
.resp-tab-content-active {
	background: $sh-medium !important;
	color: white;
	h2 {
		color: $color1;
	}
}

.resp-tab-content {
    @include p( 32 );
}

/* ------------------------------------------------------------
   Gravity Forms
   ------------------------------------------------------------ */

.gform_wrapper {
	margin: 0 !important;
	max-width: 100% !important;
}

.gform_body {
	overflow: hidden !important;
}

.subscribe .gform_wrapper .top_label .gfield_label {
	display: none !important;
}

.gform_wrapper input[type=text] {
	@include ms( bottom, 4 );
}

.gform_wrapper .gform_footer {
	overflow: hidden !important;
	padding: 0 !important;
}

.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_footer input[type=button],
.gform_wrapper .gform_page_footer input[type=button] {
	@include button( sm );
}

.ui-datepicker {
	margin: 0 !important;
}