/* ------------------------------------------------------------
   Sidebar - Defaults
   ------------------------------------------------------------ */

.sidebar .widget {
	background: $sh-light;
	overflow: hidden;
	@include p( $dp );
	p {
		line-height: 1.5;
		@include ms( bottom, $dm /2 );
	}
	input[type=submit],
	button[type=submit] {
		@include button( sm );
	}

	@include respond( mobile ) {
		@include p( $dp / 2 );
	}
}

.widgettitle,
.widgettitle a {
	color: $color1;
}

/* ------------------------------------------------------------
   Primary Sidebar
   ------------------------------------------------------------ */

.sidebar-primary {
	float: right;
	margin-left: percentage( $dm / $full );
	width: 33.33333333% - percentage( $dm / $full );

	@include respond( large ) {
		float: none;
		margin-left: 0;
		width: 100%;
	}

}

/* ------------------------------------------------------------
   Entry with Sidebar
   ------------------------------------------------------------ */

.sidebar-entry .btn {
	@include button( md );
}

p.print-forms {
	padding-top: 22px;
}

/* ------------------------------------------------------------
   Widgets
   ------------------------------------------------------------ */

.widget .entry {
	.featured-image,
	.entry-header,
	.entry-content,
	.more-link,
	.entry-footer {
		padding: 0;
	}
}

/* ------------------------------------------------------------
   Featured Property Widgets
   ------------------------------------------------------------ */

.featured-property {
	background: white;
	&:last-child {
		margin-bottom: 0;
	}
	.property-info {
		@include p( 16 );
	}
}

/* ------------------------------------------------------------
   Subscribe Widget
   ------------------------------------------------------------ */

.widget.subscribe {
	background: $sh-very-light;
}

.subscribe 

form.email p {
	overflow: hidden;
	label {
		@include ps( top, 8 );
	}
}

/* ------------------------------------------------------------
   Loan Comparison Info Widget
   ------------------------------------------------------------ */

.loan-comp-item p {
	text-align: center;
	&.large {
		color: $color1;
		@include font( 24 );
		font-weight: 700;
	}
}

/* ------------------------------------------------------------
   Genesis Featured Widget Amplified
   ------------------------------------------------------------ */

.widget.featuredpost {
	img {
		width: 100%;
	}
}


/* ------------------------------------------------------------
   Featured Page Widgets
   ------------------------------------------------------------ */

.widget.featuredpage {
	@include m( 16 );
	.entry {
		overflow: hidden;
	}
	.entry-image {
		float: left;
		@include ms( right, 16 );
		width: 150px;
	}
	.attachment-thumbnail {
		border: 2px white solid;
	}
	p {
		margin-bottom: 0;
	}

	@include respond( large ) {
		.entry-image {
			width: 100px;
		}
		.entry-content {
			display: none;
		}
	}

	@include respond( mid ) {
		.entry-image {
			display: none;
		}
	}

}

.widget .entry {
	background: none;
	padding: 0;
}