/* ------------------------------------------------------------
   Typography - Import Fonts
   ------------------------------------------------------------ */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

/* ------------------------------------------------------------
   Document
   ------------------------------------------------------------ */

html {
	@include font-copy;
	font-size: $default-rem-adjustment;
}

body {
	font-size: $default-font-size;
}

/* ------------------------------------------------------------
   Links
   ------------------------------------------------------------ */

a,
a:hover {
	color: $color1;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/* ------------------------------------------------------------
   Headings
   ------------------------------------------------------------ */

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
	@include font-heading;
	font-weight: 700;
	line-height: 1;
	@include m( 16, 0 );
	text-decoration: none;
}

h1,
h1 a {
	color: $color1;
	@include font( 36 );
	text-transform: uppercase;
}

h2,
h2 a {
	color: $color2;
	@include font( 30 );
	text-transform: uppercase;
}

h3,
h3 a {
	color: $color3;
	@include font( 24 );
}

h4,
h4 a {
	color: $color4;
	@include font( 20 );
}

h5,
h5 a {
	@include font( 18 );
}

h6,
h6 a {
	@include font( 16 );
}

/* ------------------------------------------------------------
   Content
   ------------------------------------------------------------ */

.section-title {
	background: $color1;
	background: -moz-linear-gradient(left,  $color1 0%, rgb(255,255,255) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color1), color-stop(100%,rgb(255,255,255)));
	background: -webkit-linear-gradient(left,  $color1 0%,rgb(255,255,255) 100%);
	background: -o-linear-gradient(left,  $color1 0%,rgb(255,255,255) 100%);
	background: -ms-linear-gradient(left,  $color1 0%,rgb(255,255,255) 100%);
	background: linear-gradient(to right,  $color1 0%,rgb(255,255,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='#ffffff',GradientType=1 );
	color: white;
	@include p( 24 );
}

.entry-title,
.entry-title a {
	color: $color1;
}

.entry-subtitle {
	color: $color2;
	font-style: italic;
}

/* ------------------------------------------------------------
   Paragraph
   ------------------------------------------------------------ */

p {
	margin: 0;
}

.wp-editor p {
	margin-bottom: 16px;
}

ul {
	margin: 0;
}

/* ------------------------------------------------------------
   Forms
   ------------------------------------------------------------ */

label {
	
}

input {
	
}

input[type=text],
input[type=email],
input[type=url] {
	@include p( 8, 16 );
}

textarea {
	clear: both;
}

input[type=submit],
button[type=submit] {
	@include button( md );
}